/* style.scss*/

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
}

p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.line-above-black:before {
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40px);
    background-color: black;
}

.line-above-white:before {
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40px);
    background-color: white;
}

//======================  ba-header  =========================//
.ba-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 50px;
    color: white;
    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }    
}
.ba-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    &__item + &__item {
        margin-left: 90px;
    }
    &__link {
        font-family: 'Gotham-Book';
        font-size: 0.875rem;
        line-height: 1.375rem;
        text-transform: uppercase;
        position: relative;
    }
    &__link::before {
        content: '';
        display: inline-block;
        position: absolute;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        border: 1px solid #ffffff;
        top: 0;
        left: -20px;
    }
    &__link:active::before,
    &__link:hover::before {
        background-color: #ffffff;
    }
}

.ba-menu-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    &__item + &__item {
        margin-left: 1.25vw;
    }
    &__link {
        font-size: 1rem;
        text-align: center;
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid rgba($color: #ffffff, $alpha: 0.4);
    }
    &__link > i {
        line-height: 40px;
    }
    &__link:hover > i {
        color: #1b046e;
    }
}

//======================  ba-hero  ===========================//
.ba-hero {
    width: 100%;
    height: 100vh;
    min-height: 100%;
    color: #ffffff;
    background-color: #4b4b4b; 
    background: {
        image: url(../images/background.jpg);
        size: cover;
    }
    //padding-top: 23.125rem;
    display: flex;
    align-items: center;
    text-align: center;
    &__title {
        /* Style for "Simple & m" */
        font-family: 'Gotham-Medium';
        font-size: 5rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 4px;
        margin-bottom: 32px;
    }
    &__story {
        /* Style for "We make th" */
        font-family: "Gotham-Book";
        font-size: 1.125rem;
        text-transform: uppercase;
        letter-spacing: 5.4px;
    }
    &__link {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        margin-bottom: 50px;
        font-size: 1rem;
        text-align: center;
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid rgba($color: #ffffff, $alpha: 0.4);
    }
    &__link > i {
        line-height: 40px;
    }
}
//======================  ba-what-we-do  =====================//
.ba-work {
    padding: {
        top: 6.25rem;
        bottom: 135px;
    }
    color: #2c4058;
    &__header {
        /* Style for "what we do" */
        position: relative;
        font-family: 'Gotham-Medium';
        font-size: 2.75rem;
        font-weight: 600;
        text-align: center;
    }
    &-list {
        position: relative;
        margin-top: 160px;
    }
    &-list + &-list {
        margin-top: 205px;
    }
    &__img_background {
        position: absolute;
        top: -4.375rem;
        bottom: 4.375rem;
        left: 0;
        right: 60%;
        background-color: #55b7ff;

        &-right {
            position: absolute;
            top: -4.375rem;
            bottom: 4.375rem;
            left: 60%;
            right: 0;
            background-color: #7e5aff;
        }
    }
    &__img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        position: relative;
        z-index: 10;
    }
    &__item {
        /* padding: {
            left: 50px;
        } */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    &__title {
        /* Style for "One World" */
        font-size: 44px;
        font-family: "Gotham-Bold"; 
    }
    &__item > span {
        font-family: "Gotham-Book";
        font-size: 22px;
        text-transform: uppercase;
    }
    &__text {
        margin: {
            top: 11px;
            bottom: 24px;
        }
        color: #4b5562;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        line-height: 30px;
    }
    &-button {
        /* Style for "more detai" */
        width: 190px;
        height: 50px;
        color: #2c4058;
        background-color: #ffffff;
        outline: none;
        border: 1px solid #2c4058;
        font-family: "Gotham-Book";
        font-size: 14px;
        font-weight: 400;
        line-height: 50px;
        text-transform: uppercase;
    }
    &-button:hover {
        background-color: #2c4058;
        color: #ffffff;
    }
    &__adress {
        /* Style for "ï  New Yor" */
        color: #2c4058;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-style: italic;
        line-height: 30px;
        margin-top: 55px;
    }

}
//======================  ba-news  ===========================//
.ba-news {
    /* Style for "Bg" */
    min-height: 1035px;
    padding: {
        top: 180px;
        bottom: 209px;
    }
    background-color: #ffffff;
    background: {
        image: url(../images/Bg-News.jpg);
        size: cover;
    }
    &__title {
        /* Style for "latest new" */
        position: relative;
        color: #ffffff;
        font-family: 'Gotham-Medium';
        font-size: 44px;
        font-weight: 500;
        margin-bottom: 100px;
        text-align: center;
    }
    &__picture {
        width: 100%;
        max-width: 370px;
        object-fit: cover;
    }
    &-list {
        justify-content: center;
    
        &__title {
            /* Style for "See The Un" */
            padding: {
                left: 20px;
                right: 30px;
            }
            color: #2c4058;
            font-family: 'Gotham-Medium';
            font-size: 1.375rem;
            font-weight: 700;
            line-height: 1.54;
            margin-bottom: 1.25rem;
        }
        &__text {
            /* Style for "Free direc" */
            padding: {
                left: 20px;
                right: 30px;
            }
            color: #4b5562;
            font-family: 'Open Sans', sans-serif;
            font-size: 18px;
            line-height: 30px;
            margin-bottom: 35px;
        }
        &__text_wide {
            padding-right: 0;
        }

    }
    &__item {
        /* Style for "Frame" */
        max-width: 370px;
        min-height: 514px;
        padding-bottom: 30px;
        margin-bottom: 30px;
        background-color: #ffffff;
    }
    &__item + &__item {
        margin: {
            left: 30px;
            //right: 30px;
        }
    }
    /* &__item:nth-child(3n + 2) {
        margin: {
            left: 30px;
            right: 30px;
        }
    } */
    &__img {
        margin-bottom: 30px;
    }
    &-person {
        padding-left: 20px;
        display: flex;
        align-items: center;
    }
}

.ba-person {
    &__info {
        margin-left: 1.25rem;
    }
    &__name {
        /* Style for "Isaac Dunn" */
        color: #2c4058;
        font-family: "Gotham - Book";
        font-size: 1.125rem;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    &__date {
        /* Style for "09 Feb 201" */
        color: #55b7ff;
        font-family: "Gotham-Book";
        font-size: 0.875rem;
        font-weight: 400;
    }
}
//======================  ba-gallery  ========================//
.ba-gallery {
    background-color: #ffffff;
    &-wrapper {
        min-height: 1000px;
        padding: {
            top: 180px;
            bottom: 140px;
        }
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        /* Style for "gallery" */
        position: relative;
        color: #2c4058;
        font-family: 'Gotham-Medium';
        font-size: 44px;
        font-weight: 500;
    }
    &__img {
        max-width: 100%;
        object-fit: cover;
        /* height: 100%;
        max-width: 445px;
        object-fit: cover; */

        /* display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center; */
    }
    &__item {
        padding: {
            left: 5px;
            right: 5px;
        }
    }
    &__picture + &__picture {
        margin-top: 7px;
    }
}
//======================  ba-map  =========================//
#map {
    width: 100%;
    height: 700px;
    background-color: #4b4b4b;
}

//======================  ba-footer  =========================//
.ba-footer {
    position: relative;
    color: #ffffff;
    background-color: #4b4b4b; 
    background: {
        image: url(../images/Bg-footer.jpg);
        size: cover;
    }
    &-list {
        padding: {
            top: 204px;
            bottom: 211px;
        }
    }
    &-container {
        max-width: 770px;
        width: 100%;
        margin: 0 auto;
    }
    &__info {
        margin-top: 42px;
        display: flex;
    }
    &__copyright,
    &__prop {
        /* Style for "Copyrights" */
        font-family: "Gotham-Book";
        font-size: 14px;
        margin-right: 41px;
    }
}

//======================  ba-contact  ========================//
.ba-callback {
    &-window {
        position: absolute;
        left: 50%;
        top: 150px;
        transform: translate(-50%, -100%);
        width: 770px;
        color: #2c4058;
        box-shadow: 0 -4px 30px rgba(133, 133, 133, 0.2);
        background-color: #ffffff;
        /* background: {
            image: url(../images/Bg-contacts.jpg);
            size: cover;
        } */
        margin: 0 auto;
        padding: {
            top: 91px;
            bottom: 79px;
            right: 60px;
            left: 60px;
        }
    }
    &__title {
        /* Style for "get in tou" */
        position: relative;
        text-align: center;
        font-family: 'Gotham-Medium';
        font-size: 44px;
        font-weight: 500;
        margin: {
            bottom: 59px;
        }
    }
    &-list {

    }
    &__item {
        /* Style for "91 Nola" */
        font-family: "Gotham-Book";
        font-size: 18px;
        font-weight: 300;
    }
    &__item > i {
        color: #7e5aff;
    }
    &__item + &__item {
        margin-top: 32px;
    }
    &-form {
        height: 190px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
.ba-submit-btn {
    width: 140px;
    align-self: flex-end;
}
input[type=text],
input[type=email] {
    opacity: 0.5;
    color: #4b5562;
    font-family: "Gotham-Book";
    font-size: 18px;
    line-height: 40px;
    outline: none;
    border: none;
    border-bottom: 1px solid #2c4058;
}
input[type=text]:focus,
input[type=email]:focus {
    opacity: 1.0;
    color: #000000;
}
//======================  slider  ========================//
/* .slick-dots li {
    margin-left: 40px;
} */
/* .slick-dots li button:before {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    border: 1px solid white;
    opacity: 1;
    color: transparent;
} */
/* .slick-dots li.slick-active button:before {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    border: 1px solid white;
    opacity: 1;
    color: transparent;
    background-color: white;
} */
