/* style.scss*/
@media screen and (max-width: 1100px) {
    html {
        font-size: 12px;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
}

p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.line-above-black:before {
    content: "";
    display: block;
    width: 6.25rem;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -2.5rem);
    background-color: black;
}

.line-above-white:before {
    content: "";
    display: block;
    width: 6.25rem;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -2.5rem);
    background-color: white;
}

//======================  ba-header  =========================//
.ba-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 3.125rem;
    color: white;
    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }    
}
#menu {
    margin-right: 5.25rem;
    margin-left: auto;
}
.ba-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    &__item + &__item {
        margin-left: 5.625rem;
    }
    &__link {
        font-family: 'Gotham-Book';
        font-size: 0.875rem;
        line-height: 1.375rem;
        text-transform: uppercase;
        position: relative;
    }
    &__link::before {
        content: '';
        display: inline-block;
        position: absolute;
        width: 0.5625rem;
        height: 0.5625rem;
        border-radius: 50%;
        border: 1px solid #ffffff;
        top: 0;
        left: -1.25rem;
    }
    &__link:active::before,
    &__link:hover::before {
        background-color: #ffffff;
    }
}

.ba-menu-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    &__item + &__item {
        margin-left: 1.25vw;
    }
    &__link {
        font-size: 1rem;
        text-align: center;
        display: block;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        border: 1px solid rgba($color: #ffffff, $alpha: 0.4);
    }
    &__link > i {
        line-height: 2.5rem;
    }
    &__link:hover > i {
        color: #1b046e;
    }
}

//======================  ba-hero  ===========================//
.ba-hero {
    width: 100%;
    height: 100vh;
    min-height: 100%;
    color: #ffffff;
    background-color: #4b4b4b; 
    background: {
        image: url(../images/background.jpg);
        size: cover;
    }
    display: flex;
    align-items: center;
    text-align: center;
    &__title {
        /* Style for "Simple & m" */
        font-family: 'Gotham-Medium';
        font-size: 5rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.25rem;
        margin-bottom: 2rem;
    }
    &__story {
        /* Style for "We make th" */
        font-family: "Gotham-Book";
        font-size: 1.125rem;
        text-transform: uppercase;
        letter-spacing: 0.3375rem;
    }
    &__link {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        margin-bottom: 3.125rem;
        font-size: 1rem;
        text-align: center;
        display: block;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        border: 1px solid rgba($color: #ffffff, $alpha: 0.4);
    }
    &__link > i {
        line-height: 2.5rem;
    }
}
//======================  ba-what-we-do  =====================//
.ba-work {
    position: relative;
    padding: {
        top: 6.25rem;
        bottom: 8.4375rem;
    }
    color: #2c4058;
    &__header {
        /* Style for "what we do" */
        font-family: 'Gotham-Medium';
        font-size: 2.75rem;
        font-weight: 600;
        text-align: center;
        position: relative;
    }
    &-list {
        margin-top: 10rem;
    }
    &-list + &-list {
        margin-top: 12.8125rem;
    }
    &__img_background {
        position: absolute;
        top: 15%;
        left: 0;
        right: 60%;
        //max-width: 585px;
        height: 32%;
        background-color: #55b7ff;

        &-right {
            position: absolute;
            bottom: 13%;
            left: 60%;
            right: 0;
            //max-width: 585px;
            height: 27%;
            background-color: #7e5aff;
        }
    }
    &__img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        position: relative;
        z-index: 10;
    }
    &__item {
        /* padding: {
            left: 50px;
        } */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    &__title {
        /* Style for "One World" */
        font-size: 2.75rem;
        font-family: "Gotham-Bold"; 
    }
    &__item > span {
        font-family: "Gotham-Book";
        font-size: 1.375rem;
        text-transform: uppercase;
    }
    &__text {
        margin: {
            top: 0.6875rem;
            bottom: 1.5rem;
        }
        color: #4b5562;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.125rem;
        line-height: 1.875rem;
    }
    &-button {
        /* Style for "more detai" */
        width: 11.875rem;
        height: 3.125rem;
        color: #2c4058;
        background-color: #ffffff;
        outline: none;
        border: 1px solid #2c4058;
        font-family: "Gotham-Book";
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 3.125rem;
        text-transform: uppercase;
    }
    &-button:hover {
        background-color: #2c4058;
        color: #ffffff;
    }
    &__adress {
        /* Style for "ï  New Yor" */
        color: #2c4058;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.125rem;
        font-style: italic;
        line-height: 1.875rem;
        margin-top: 3.4375rem;
    }

}
//======================  ba-news  ===========================//
.ba-news {
    /* Style for "Bg" */
    min-height: 102,1875rem;
    padding: {
        top: 11.25rem;
        bottom: 13.0625rem;
    }
    background-color: #ffffff;
    background: {
        image: url(../images/Bg-News.jpg);
        size: cover;
    }
    &__title {
        /* Style for "latest new" */
        position: relative;
        color: #ffffff;
        font-family: 'Gotham-Medium';
        font-size: 2.75rem;
        font-weight: 500;
        margin-bottom: 6.25rem;
        text-align: center;
    }
    &__picture {
        width: 100%;
        max-width: 23.125rem;
        object-fit: cover;
    }
    &-list {
        justify-content: center;
    
        &__title {
            /* Style for "See The Un" */
            padding: {
                left: 1.25rem;
                right: 1.875rem;
            }
            color: #2c4058;
            font-family: 'Gotham-Medium';
            font-size: 1.375rem;
            font-weight: 700;
            line-height: 1.54;
            margin-bottom: 1.25rem;
        }
        &__text {
            /* Style for "Free direc" */
            padding: {
                left: 1.25rem;
                right: 1.875rem;
            }
            color: #4b5562;
            font-family: 'Open Sans', sans-serif;
            font-size: 1.125rem;
            line-height: 1.875rem;
            margin-bottom: 2.1875rem;
        }
        &__text_wide {
            padding-right: 0;
        }

    }
    &__item {
        /* Style for "Frame" */
        max-width: 23.125rem;
        min-height: 32.125rem;
        padding-bottom: 1.875rem;
        margin-bottom: 1.875rem;
        background-color: #ffffff;
    }
    &__item + &__item {
        margin: {
            left: 1.875rem;
        }
    }
    /* &__item:nth-child(3n + 2) {
        margin: {
            left: 1.875rem;
            right: 1.875rem;
        }
    } */
    &__img {
        margin-bottom: 1.875rem;
    }
    &-person {
        padding-left: 1.25rem;
        display: flex;
        align-items: center;
    }
}

.ba-person {
    &__info {
        margin-left: 1.25rem;
    }
    &__name {
        /* Style for "Isaac Dunn" */
        color: #2c4058;
        font-family: "Gotham - Book";
        font-size: 1.125rem;
        text-transform: uppercase;
        margin-bottom: 0.3125rem;
    }
    &__date {
        /* Style for "09 Feb 201" */
        color: #55b7ff;
        font-family: "Gotham-Book";
        font-size: 0.875rem;
        font-weight: 400;
    }
}
//======================  ba-gallery  ========================//
.ba-gallery {
    background-color: #ffffff;
    &-wrapper {
        min-height: 1000px;
        padding: {
            top: 11.25rem;
            bottom: 8.75rem;
        }
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        /* Style for "gallery" */
        position: relative;
        color: #2c4058;
        font-family: 'Gotham-Medium';
        font-size: 2.75rem;
        font-weight: 500;
    }
    &__img {
        max-width: 100%;
        object-fit: cover;
        /* height: 100%;
        max-width: 445px;
        object-fit: cover; */

        /* display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center; */
    }
    &__item {
        padding: {
            left: 0.3125rem;
            right: 0.3125rem;
        }
    }
    &__picture + &__picture {
        margin-top: 0.4375rem;
    }
}
//======================  ba-map  =========================//
#map {
    width: 100%;
    height: 43.75rem;
    background-color: #4b4b4b;
}

//======================  ba-footer  =========================//
.ba-footer {
    position: relative;
    color: #ffffff;
    background-color: #4b4b4b; 
    background: {
        image: url(../images/Bg-footer.jpg);
        size: cover;
    }
    &-list {
        padding: {
            top: 12.75rem;
            bottom: 13.1875rem;
        }
    }
    &-container {
        max-width: 48.125rem;
        width: 100%;
        margin: 0 auto;
    }
    &__info {
        margin-top: 2.625rem;
        display: flex;
    }
    &__copyright,
    &__prop {
        /* Style for "Copyrights" */
        font-family: "Gotham-Book";
        font-size: 0.875rem;
        margin-right: 2.5625rem;
    }
}

//======================  ba-contact  ========================//
.ba-callback {
    &-window {
        position: absolute;
        left: 50%;
        top: 9.375rem;
        transform: translate(-50%, -100%);
        width: 48.125rem;
        color: #2c4058;
        box-shadow: 0 -4px 1.875rem rgba(133, 133, 133, 0.2);
        background-color: #ffffff;
        /* background: {
            image: url(../images/Bg-contacts.jpg);
            size: cover;
        } */
        margin: 0 auto;
        padding: {
            top: 5.6875rem;
            bottom: 4.9375rem;
            right: 3.75rem;
            left: 3.75rem;
        }
    }
    &__title {
        /* Style for "get in tou" */
        position: relative;
        text-align: center;
        font-family: 'Gotham-Medium';
        font-size: 2.75rem;
        font-weight: 500;
        margin: {
            bottom: 3.6875rem;
        }
    }
    &-list {

    }
    &__item {
        /* Style for "91 Nola" */
        font-family: "Gotham-Book";
        font-size: 1.125rem;
        font-weight: 300;
    }
    &__item > i {
        color: #7e5aff;
    }
    &__item + &__item {
        margin-top: 2rem;
    }
    &-form {
        height: 11.875rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
.ba-submit-btn {
    width: 8.75rem;
    align-self: flex-end;
}
input[type=text],
input[type=email] {
    opacity: 0.5;
    color: #4b5562;
    font-family: "Gotham-Book";
    font-size: 1.125rem;
    line-height: 2,22;
    outline: none;
    border: none;
    border-bottom: 1px solid #2c4058;
}
input[type=text]:focus,
input[type=email]:focus {
    opacity: 1.0;
    color: #000000;
}
//======================  slider  ========================//
/* .slick-dots li {
    margin-left: 2.5rem;
} */
/* .slick-dots li button:before {
    width: 0.5625rem;
    height: 0.5625rem;
    border-radius: 50%;
    border: 1px solid white;
    opacity: 1;
    color: transparent;
} */
/* .slick-dots li.slick-active button:before {
    width: 0.5625rem;
    height: 0.5625rem;
    border-radius: 50%;
    border: 1px solid white;
    opacity: 1;
    color: transparent;
    background-color: white;
} */
