@charset "UTF-8";
* {
  box-sizing: border-box; }

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

/*ba-grid*/
.ba-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

.ba-row + .ba-row {
  margin-top: 1rem; }

[class^="ba-col"] {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%; }

.ba-col-1 {
  width: 8.33333%; }

.ba-col-2 {
  width: 16.66667%; }

.ba-col-3 {
  width: 25%; }

.ba-col-4 {
  width: 33.33333%; }

.ba-col-5 {
  width: 41.66667%; }

.ba-col-6 {
  width: 50%; }

.ba-col-7 {
  width: 58.33333%; }

.ba-col-8 {
  width: 66.66667%; }

.ba-col-9 {
  width: 75%; }

.ba-col-10 {
  width: 83.33333%; }

.ba-col-11 {
  width: 91.66667%; }

.ba-col-12 {
  width: 100%; }

/*ba-common*/
.ba-text-center {
  text-align: center; }

.ba-text-right {
  text-align: right; }

.ba-text-left {
  text-align: left; }

.ba-text-justify {
  text-align: justify; }

/* style.scss*/
@media screen and (max-width: 1100px) {
  html {
    font-size: 12px; } }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  text-transform: uppercase;
  margin: 0; }

p {
  margin: 0; }

a {
  color: inherit;
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.line-above-black:before {
  content: "";
  display: block;
  width: 6.25rem;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -2.5rem);
  background-color: black; }

.line-above-white:before {
  content: "";
  display: block;
  width: 6.25rem;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -2.5rem);
  background-color: white; }

.ba-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 3.125rem;
  color: white; }
  .ba-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; }

#menu {
  margin-right: 5.25rem;
  margin-left: auto; }

.ba-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none; }
  .ba-menu__item + .ba-menu__item {
    margin-left: 5.625rem; }
  .ba-menu__link {
    font-family: 'Gotham-Book';
    font-size: 0.875rem;
    line-height: 1.375rem;
    text-transform: uppercase;
    position: relative; }
  .ba-menu__link::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 0.5625rem;
    height: 0.5625rem;
    border-radius: 50%;
    border: 1px solid #ffffff;
    top: 0;
    left: -1.25rem; }
  .ba-menu__link:active::before, .ba-menu__link:hover::before {
    background-color: #ffffff; }

.ba-menu-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none; }
  .ba-menu-media__item + .ba-menu-media__item {
    margin-left: 1.25vw; }
  .ba-menu-media__link {
    font-size: 1rem;
    text-align: center;
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.4); }
  .ba-menu-media__link > i {
    line-height: 2.5rem; }
  .ba-menu-media__link:hover > i {
    color: #1b046e; }

.ba-hero {
  width: 100%;
  height: 100vh;
  min-height: 100%;
  color: #ffffff;
  background-color: #4b4b4b;
  background-image: url(../images/background.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center; }
  .ba-hero__title {
    /* Style for "Simple & m" */
    font-family: 'Gotham-Medium';
    font-size: 5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    margin-bottom: 2rem; }
  .ba-hero__story {
    /* Style for "We make th" */
    font-family: "Gotham-Book";
    font-size: 1.125rem;
    text-transform: uppercase;
    letter-spacing: 0.3375rem; }
  .ba-hero__link {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 3.125rem;
    font-size: 1rem;
    text-align: center;
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.4); }
  .ba-hero__link > i {
    line-height: 2.5rem; }

.ba-work {
  position: relative;
  padding-top: 6.25rem;
  padding-bottom: 8.4375rem;
  color: #2c4058; }
  .ba-work__header {
    /* Style for "what we do" */
    font-family: 'Gotham-Medium';
    font-size: 2.75rem;
    font-weight: 600;
    text-align: center;
    position: relative; }
  .ba-work-list {
    margin-top: 10rem; }
  .ba-work-list + .ba-work-list {
    margin-top: 12.8125rem; }
  .ba-work__img_background {
    position: absolute;
    top: 15%;
    left: 0;
    right: 60%;
    height: 32%;
    background-color: #55b7ff; }
    .ba-work__img_background-right {
      position: absolute;
      bottom: 13%;
      left: 60%;
      right: 0;
      height: 27%;
      background-color: #7e5aff; }
  .ba-work__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: relative;
    z-index: 10; }
  .ba-work__item {
    /* padding: {
            left: 50px;
        } */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
  .ba-work__title {
    /* Style for "One World" */
    font-size: 2.75rem;
    font-family: "Gotham-Bold"; }
  .ba-work__item > span {
    font-family: "Gotham-Book";
    font-size: 1.375rem;
    text-transform: uppercase; }
  .ba-work__text {
    margin-top: 0.6875rem;
    margin-bottom: 1.5rem;
    color: #4b5562;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125rem;
    line-height: 1.875rem; }
  .ba-work-button {
    /* Style for "more detai" */
    width: 11.875rem;
    height: 3.125rem;
    color: #2c4058;
    background-color: #ffffff;
    outline: none;
    border: 1px solid #2c4058;
    font-family: "Gotham-Book";
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 3.125rem;
    text-transform: uppercase; }
  .ba-work-button:hover {
    background-color: #2c4058;
    color: #ffffff; }
  .ba-work__adress {
    /* Style for "ï  New Yor" */
    color: #2c4058;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125rem;
    font-style: italic;
    line-height: 1.875rem;
    margin-top: 3.4375rem; }

.ba-news {
  /* Style for "Bg" */
  min-height: 102,1875rem;
  padding-top: 11.25rem;
  padding-bottom: 13.0625rem;
  background-color: #ffffff;
  background-image: url(../images/Bg-News.jpg);
  background-size: cover;
  /* &__item:nth-child(3n + 2) {
        margin: {
            left: 1.875rem;
            right: 1.875rem;
        }
    } */ }
  .ba-news__title {
    /* Style for "latest new" */
    position: relative;
    color: #ffffff;
    font-family: 'Gotham-Medium';
    font-size: 2.75rem;
    font-weight: 500;
    margin-bottom: 6.25rem;
    text-align: center; }
  .ba-news__picture {
    width: 100%;
    max-width: 23.125rem;
    object-fit: cover; }
  .ba-news-list {
    justify-content: center; }
    .ba-news-list__title {
      /* Style for "See The Un" */
      padding-left: 1.25rem;
      padding-right: 1.875rem;
      color: #2c4058;
      font-family: 'Gotham-Medium';
      font-size: 1.375rem;
      font-weight: 700;
      line-height: 1.54;
      margin-bottom: 1.25rem; }
    .ba-news-list__text {
      /* Style for "Free direc" */
      padding-left: 1.25rem;
      padding-right: 1.875rem;
      color: #4b5562;
      font-family: 'Open Sans', sans-serif;
      font-size: 1.125rem;
      line-height: 1.875rem;
      margin-bottom: 2.1875rem; }
    .ba-news-list__text_wide {
      padding-right: 0; }
  .ba-news__item {
    /* Style for "Frame" */
    max-width: 23.125rem;
    min-height: 32.125rem;
    padding-bottom: 1.875rem;
    margin-bottom: 1.875rem;
    background-color: #ffffff; }
  .ba-news__item + .ba-news__item {
    margin-left: 1.875rem; }
  .ba-news__img {
    margin-bottom: 1.875rem; }
  .ba-news-person {
    padding-left: 1.25rem;
    display: flex;
    align-items: center; }

.ba-person__info {
  margin-left: 1.25rem; }

.ba-person__name {
  /* Style for "Isaac Dunn" */
  color: #2c4058;
  font-family: "Gotham - Book";
  font-size: 1.125rem;
  text-transform: uppercase;
  margin-bottom: 0.3125rem; }

.ba-person__date {
  /* Style for "09 Feb 201" */
  color: #55b7ff;
  font-family: "Gotham-Book";
  font-size: 0.875rem;
  font-weight: 400; }

.ba-gallery {
  background-color: #ffffff; }
  .ba-gallery-wrapper {
    min-height: 1000px;
    padding-top: 11.25rem;
    padding-bottom: 8.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
  .ba-gallery__title {
    /* Style for "gallery" */
    position: relative;
    color: #2c4058;
    font-family: 'Gotham-Medium';
    font-size: 2.75rem;
    font-weight: 500; }
  .ba-gallery__img {
    max-width: 100%;
    object-fit: cover;
    /* height: 100%;
        max-width: 445px;
        object-fit: cover; */
    /* display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center; */ }
  .ba-gallery__item {
    padding-left: 0.3125rem;
    padding-right: 0.3125rem; }
  .ba-gallery__picture + .ba-gallery__picture {
    margin-top: 0.4375rem; }

#map {
  width: 100%;
  height: 43.75rem;
  background-color: #4b4b4b; }

.ba-footer {
  position: relative;
  color: #ffffff;
  background-color: #4b4b4b;
  background-image: url(../images/Bg-footer.jpg);
  background-size: cover; }
  .ba-footer-list {
    padding-top: 12.75rem;
    padding-bottom: 13.1875rem; }
  .ba-footer-container {
    max-width: 48.125rem;
    width: 100%;
    margin: 0 auto; }
  .ba-footer__info {
    margin-top: 2.625rem;
    display: flex; }
  .ba-footer__copyright, .ba-footer__prop {
    /* Style for "Copyrights" */
    font-family: "Gotham-Book";
    font-size: 0.875rem;
    margin-right: 2.5625rem; }

.ba-callback-window {
  position: absolute;
  left: 50%;
  top: 9.375rem;
  transform: translate(-50%, -100%);
  width: 48.125rem;
  color: #2c4058;
  box-shadow: 0 -4px 1.875rem rgba(133, 133, 133, 0.2);
  background-color: #ffffff;
  /* background: {
            image: url(../images/Bg-contacts.jpg);
            size: cover;
        } */
  margin: 0 auto;
  padding-top: 5.6875rem;
  padding-bottom: 4.9375rem;
  padding-right: 3.75rem;
  padding-left: 3.75rem; }

.ba-callback__title {
  /* Style for "get in tou" */
  position: relative;
  text-align: center;
  font-family: 'Gotham-Medium';
  font-size: 2.75rem;
  font-weight: 500;
  margin-bottom: 3.6875rem; }

.ba-callback__item {
  /* Style for "91 Nola" */
  font-family: "Gotham-Book";
  font-size: 1.125rem;
  font-weight: 300; }

.ba-callback__item > i {
  color: #7e5aff; }

.ba-callback__item + .ba-callback__item {
  margin-top: 2rem; }

.ba-callback-form {
  height: 11.875rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.ba-submit-btn {
  width: 8.75rem;
  align-self: flex-end; }

input[type=text],
input[type=email] {
  opacity: 0.5;
  color: #4b5562;
  font-family: "Gotham-Book";
  font-size: 1.125rem;
  line-height: 2,22;
  outline: none;
  border: none;
  border-bottom: 1px solid #2c4058; }

input[type=text]:focus,
input[type=email]:focus {
  opacity: 1.0;
  color: #000000; }

/* .slick-dots li {
    margin-left: 2.5rem;
} */
/* .slick-dots li button:before {
    width: 0.5625rem;
    height: 0.5625rem;
    border-radius: 50%;
    border: 1px solid white;
    opacity: 1;
    color: transparent;
} */
/* .slick-dots li.slick-active button:before {
    width: 0.5625rem;
    height: 0.5625rem;
    border-radius: 50%;
    border: 1px solid white;
    opacity: 1;
    color: transparent;
    background-color: white;
} */
